<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experimenting with web-gl</title>
    <!-- Importing the tailwind dist stles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/styles.css') }}">
</head>
<body class="">
    {% block content %}
    
    {% endblock %}
    
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>